---
import data from "src/data/about-me"
import Layout from "src/layouts/PageLayout.astro"
import CmLogo from "src/components/svgs/CmLogo.svg"
---

<Layout title={data.title} classes={["page", data.id, `page-${data.id}`]}>

    <main class="content content-about-me">
        <header class="about-header">
            <h1 class="about-title">about</h1>
            <h2 class="about-subtitle">me</h2>
        </header>
        <article class="about-article">
            <blockquote class="about-quote">
                <h3 class="quote-title" set:html={data.content.quote} /> 
                <h4 class="quote-author" set:html={data.content.quoteAuthor} />
            </blockquote>
            <section class="about-body">
                { data.content.body &&
                    data.content.body.map(item => (
                        <p set:html={item} />
                    ))
                }

                <div class="bg-logo">
                   <CmLogo />
                </div>
            </section>
 
        </article>

    </main>
</Layout>