---
import data from "src/data/h2o-cw";
import Layout from "src/layouts/PageLayout.astro";
import DynaImage from "src/components/DynaImage.astro";
import PageHeader from "src/components/PageHeader.astro";
---

<Layout title={data.title} classes={["page", data.id, `page-${data.id}`]}>
  <main class:list={["content", "content-page", `content-page-${data.id}`]}>
    <article class:list={["page-article", `${data.id}-article`]}>
        <PageHeader data={data} />

      <section class="page-section section-custom section-text-mixed section1">
        <div
          class="section-images section-custom-images section-images-section1-0"
        >
          <picture
            class:list={[
              "image-wrapper",
              `image-${data.id}`,
              "image-section1-0",
            ]}
          >
            <DynaImage data={data.content.section1.images[0]} />
          </picture>
          <picture
            class:list={[
              "image-wrapper",
              `image-${data.id}`,
              "image-section1-1",
            ]}
          >
            <DynaImage data={data.content.section1.images[1]} />
          </picture>
          <picture
            class:list={[
              "image-wrapper",
              `image-${data.id}`,
              "image-section1-2",
            ]}
          >
            <DynaImage data={data.content.section1.images[2]} />
          </picture>
        </div>

        <div class="section-copy section-custom-copy section1-copy-0">
          <h3 class="section-copy-header">{data.content.section1.header}</h3>
          <p class="section-copy-body">{data.content.section1.body[0]}</p>
          <p class="section-copy-body md-show">
            {data.content.section1.body[1]}
          </p>
        </div>

        <div
          class="section-images section-custom-images section-images-section1-1"
        >
          <picture
            class:list={[
              "image-wrapper",
              `image-${data.id}`,
              "image-section1-3",
            ]}
          >
            <DynaImage data={data.content.section1.images[3]} />
          </picture>
          <picture
            class:list={[
              "image-wrapper",
              `image-${data.id}`,
              "image-section1-4",
            ]}
          >
            <DynaImage data={data.content.section1.images[4]} />
          </picture>
        </div>

        <div class="section-copy section-custom-copy section1-copy-1 md-hide">
          <p class="section-copy-body">{data.content.section1.body[1]}</p>
        </div>
      </section>


    </article>
  </main>
</Layout>
