{{load this "lgb-cw"}}
{{load this "h2o-cw"}}
{{#> base bodyClass="home"  }}
<header>
  <h1 class="home-title">Chris&nbsp;Murphy</h1>
  <h2 class="home-subhead">visual design: UX, UI, &amp; Front-End</h2>
</header>
<main>
  <h3><a class="home" href="{{glunzsite.slug}}.html">{{glunzsite.title}}</a></h3>
  <h3><a href="{{h2oplussite.slug}}.html">{{h2oplussite.title}}</a></h3>
</main>
{{/ base }} 