{{load this "lgb-cw"}}

{{#> base baseData=lgbCw }} 
    <main class="content content-page content-page-{{lgbCw.id}}">
        {{> page-header data=lgbCw dataKey="headImages" id=lgbCw.id }}
   
    <article class="page-article {{lgbCw.id}}-article">

        {{> page-section-std dataKey="section1" data=lgbCw.content.section1 id=lgbCw.id sectionClass="section-text-left"}}

        {{> page-section-std dataKey="section2" data=lgbCw.content.section2 id=lgbCw.id sectionClass="section-text-right"}}

        <section class="page-section section-custom section-text-mixed section3">
            <div class="section-images section-custom-images section-images-section3-0">
                <picture class="image-wrapper image-{{lgbCw.id}} image-section3-0">
                    {{imagelink lgbCw.content.section3.images.[0]}}
                </picture>
                <picture class="image-wrapper image-{{lgbCw.id}} image-section3-1">
                    {{imagelink lgbCw.content.section3.images.[1]}}
                </picture>
                <picture class="image-wrapper image-{{lgbCw.id}} image-section3-2">
                    {{imagelink lgbCw.content.section3.images.[2]}}
                </picture>
            </div>
            <div class="section-copy section-custom-copy section3-copy-0">
                <h3 class="section-copy-header">{{lgbCw.content.section3.header}}</h3>
                <p class="section-copy-body">{{lgbCw.content.section3.body.[0]}}</p>
                <p class="section-copy-body md-show">{{lgbCw.content.section3.body.[1]}}</p>
            </div>
            <div class="section-images section-custom-images section-images-section3-1">
                <picture class="image-wrapper image-{{lgbCw.id}} image-section3-3">
                    {{imagelink lgbCw.content.section3.images.[3]}}
                </picture>
            </div>
            <div class="section-copy section-custom-copy section3-copy-1">
                <p class="section-copy-body section-copy-body-0">{{lgbCw.content.section3.body.[1]}}</p>
            </div>
        </section>

        {{> page-section-std dataKey="section4" data=lgbCw.content.section4 id=lgbCw.id sectionClass="section-text-right"}}

        <section class="page-section section-standard section5 section-text-left">
            <div class="section-images section-custom-images section-images-section5">
                <picture class="image-wrapper image-{{lgbCw.id}} image-section5-0">
                    {{imagelink lgbCw.content.section5.images.[0]}}
                </picture>
                <picture class="image-wrapper image-{{lgbCw.id}} image-section5-1">
                    {{imagelink lgbCw.content.section5.images.[1]}}
                </picture>
                <div class="glunz-swatch-wrap">
                    <div class="glunz-swatch glunz-swatch-sm glunz-swatch-0">
                        <div class="glunz-swatch-color glunz-swatch-color-0">&nbsp;</div>
                        <div class="glunz-swatch-text">#E7AA04</div>
                    </div>
                    <div class="glunz-swatch glunz-swatch-sm glunz-swatch-1">
                        <div class="glunz-swatch-color glunz-swatch-color-1">&nbsp;</div>
                        <div class="glunz-swatch-text">#8F2100</div>
                    </div>
                    <div class="glunz-swatch glunz-swatch-lg glunz-swatch-2">
                        <div class="glunz-swatch-color glunz-swatch-color-2">&nbsp;</div>
                        <div class="glunz-swatch-text">#E7AA04-#A3651F</div>
                    </div>
                    <div class="glunz-swatch glunz-swatch-sm glunz-swatch-3">
                        <div class="glunz-swatch-color glunz-swatch-color-3">&nbsp;</div>
                        <div class="glunz-swatch-text">#2A2E14</div>
                    </div>
                    <div class="glunz-swatch glunz-swatch-sm glunz-swatch-4">
                        <div class="glunz-swatch-color glunz-swatch-color-4">&nbsp;</div>
                        <div class="glunz-swatch-text">#645d54</div>
                    </div>
                    <div class="glunz-swatch glunz-swatch-lg glunz-swatch-5">
                        <div class="glunz-swatch-color glunz-swatch-color-5">&nbsp;</div>
                        <div class="glunz-swatch-text">#9E3400-#382929</div>
                    </div>
                </div>
            </div>
            <div class="section-copy">
                <h3 class="section-copy-header">{{lgbCw.content.section5.header}}</h3>
                {{#each lgbCw.content.section5.body}}
                <p class="section-copy-body section-copy-body-{{@key}}">{{this}}</p>
                {{/ each}}
            </div>
        </section>

        <section class="page-section section-custom section-glunzsite-stats section6">
            <div class="glunzsite-users glunzsite-stats">
                <h4>{{lgbCw.content.section6.extra.[0]}}</h4>
                <p><span class="up-arrow-svg" > {{{lgbCw.content.section6.svgs}}} </span> 
                    {{lgbCw.content.section6.extra.[1]}}
                </p>
            </div>
            <div class="glunzsite-sessions glunzsite-stats">
                <h4>{{lgbCw.content.section6.extra.[2]}}</h4>
                <p><span class="up-arrow-svg" > {{{lgbCw.content.section6.svgs}}} </span> 
                    {{lgbCw.content.section6.extra.[3]}}
                </p>
            </div>
            <div class="glunzsite-stat-copy section-copy">
                <p class="section-copy-body">{{lgbCw.content.section6.body}}</p>
            </div>

        </section>

    </article>

    </main>

{{load this "h2o-email"}}
{{load this "h2o-cw"}}

{{> work-nav leftNav=h2oEmail rightNav=h2oCw}}

{{/ base }}