{{load this "lgb-cw"}}


{{#> base baseData=head }} 
<h1>{{glunzsite.title}}</h1>
    <main class="content content-page" style="width: 100%; max-width:960px; margin: 0 auto; text-align:center;">
        {{> page-header data=glunzsite}}
   
    <article class="page-article {{glunzsite.id}}-article">

        {{> page-section-std dataKey="section1" data=glunzsite.content.section1 id=glunzsite.id sectionClass="section-text-left"}}

        {{> page-section-std dataKey="section2" data=glunzsite.content.section2 id=glunzsite.id sectionClass="section-text-right"}}

        <section class="page-section section-custom section-text-mixed section3">
            <div class="section-custom-imgs section3-imgs-0">
    
            </div>
            <div class="section-custom-copy section3-copy-0">
                <h3 class="section-copy-header">{{glunzsite.content.section3.header}}</h3>
                <p class="section-copy-body">{{glunzsite.content.section3.body.[0]}}</p>
            </div>
            <div class="section-custom-imgs section3-imgs-1">

            </div>
            <div class="section-custom-copy section3-copy-1">
                <p class="section-copy-body section-copy-body-0">{{glunzsite.content.section3.body.[1]}}</p>
            </div>
        </section>

        {{> page-section-std dataKey="section4" data=glunzsite.content.section4 id=glunzsite.id sectionClass="section-text-right"}}

        <section class="page-section section-standard section5 section-text-left">
            <div class="section-imgs">
        
            </div>
            <div class="section-copy">
                <h3 class="section-copy-header">{{glunzsite.content.section5.header}}</h3>
                {{#each glunzsite.content.section5.body}}
                <p class="section-copy-body section-copy-body-{{@key}}">{{this}}</p>
                {{/ each}}
            </div>
        </section>

    </article>

    </main>
{{/ base }}