---
import type { ImageType, PageData } from "src/types/template";
import DynaImage from "./DynaImage.astro";
interface Props {
  data: PageData
}
const { data } = Astro.props;
---

<header class:list={["page-header", `${data.id}-header`]}>
  <div class="header-images">
    {
      data.headImages &&
        data.headImages.length &&
        data.headImages.map((image, i) => (
          <picture
            class:list={[
              "image-wrapper",
              `image-${data.id}`,
              `image-headImages-${i}`,
            ]}
          >
            <DynaImage data={image} />
          </picture>
        ))
    }
  </div>
  <div class="page-title">
    <h1>{data.title}</h1>
    <h2>{data.subtitle}</h2>
  </div>
  <blockquote class="page-description">
    {data.description}
  </blockquote>
  {
    data.roles && data.roles.length && (
      <div class="page-info page-roles">
        <p>
          <strong>Roles: </strong>
          {data.roles.join(', ')}
        </p>
      </div>
    )
  }
  {
    data.tools && data.tools.length && (
      <div class="page-info page-tools">
        <p>
          <strong>Tools: </strong>
          {data.tools.join(', ')}
        </p>
      </div>
    )
  }
  {
    data.platforms && data.platforms.length && (
      <div class="page-info page-platforms">
        <p>
          <strong>Platforms: </strong>
          {data.platforms.join(', ')}
        </p>
      </div>
    )
  }
</header>
