---
interface Props {
    data: {
        id: string;
        thumbnail: {
            filename: string;
        };
        title: string;
        subtitle: string;
        slug: string;
    }
}
const { data } = Astro.props
---

<figure class:list={['project-thumb', `project-thumb-${data.id}`]} class="project-thumb project-thumb-{{data.id}}">
    <a href={`${data.slug}}.html`}>
      <!-- <picture class="project-thumb-img">
              
          {{imagelink data.thumbnail}}
      </picture> -->
      <figcaption class="thumb-caption">
        <h3 class="thumb-title">{data.title}</h3>
        <h4 class="thumb-subtitle">{data.subtitle}</h4>
      </figcaption>
      </a>
</figure>