---
import type { PageData } from 'src/types/template';
import DynaImage from './DynaImage.astro';
interface Props {
    data: PageData;
}
const { data } = Astro.props

---

<figure class:list={['project-thumb', `project-thumb-${data.id}`]} >
    <a href={`/${data.slug}`}>
      <picture class="project-thumb-img">
            <DynaImage data={data.thumbnail} />
      </picture>
      <figcaption class="thumb-caption">
        <h3 class="thumb-title">{data.title}</h3>
        <h4 class="thumb-subtitle">{data.subtitle}</h4>
      </figcaption>
      </a>
</figure>