    <section class="page-section section-standard {{sectionClass}} {{dataKey}}">
        <div class="section-images section-images-{{dataKey}}">
            {{#each data.images}}
                <picture class="image-wrapper image-{{../id}} image-{{../dataKey}}-{{@key}} ">
                    <img src="{{image filename}}" title="{{imagetitle filename}}" alt="{{alt}}"/>
                </picture>
            {{/each}}
        </div>
        <div class="section-copy">
            <h3 class="section-copy-header">{{{data.header}}}</h3>
            {{#each data.body}}
                <p class="section-copy-body section-copy-body-{{@key}}">{{{this}}}</p>
            {{/each}}
        </div>
    </section>
