<header class="page-header {{data.id}}-header">
    <div class="header-images">
                    {{#each data.headImages}}
                <picture class="image-wrapper image-{{../id}} image-{{../dataKey}}-{{@key}}">
                    <img src="{{image filename}}" title="{{imagetitle filename}}"" alt="{{alt}}"/>
                </picture>
            {{/each}}
    </div>
    <div class="page-title">
        <h1>{{data.title}}</h1>
        <h2>{{data.subtitle}}</h2>
    </div>
    <blockquote class="page-description">
        {{data.description}}
    </blockquote>
        <div class="page-info page-roles">
           <strong>Roles:</strong> {{#each data.roles}}{{@this}}, {{/ each}}
        </div>
        <div class="page-info page-tools">
            <strong>Tools:</strong> {{#each data.tools}}{{@this}}, {{/ each}}
        </div>
        <div class="page-info page-platforms">
            <strong>Platform:</strong> {{#each data.platforms}}{{@this}}, {{/ each}}
        </div>
</header>
