    <section class="page-section section-standard {{sectionClass}} {{dataKey}}">
        <div class="section-imgs section-imgs-{{dataKey}}">
            {{#each data.images}}
                <picture class="img-wrapper image-{{../id}}-{{../dataKey}}-{{@key}}">
                    <img src="{{image filename}}" alt="{{alt}}"/>
                </picture>
            {{/each}}
        </div>
        <div class="section-copy">
            <h3 class="section-copy-header">{{data.header}}</h3>
            {{#each data.body}}
                <p class="section-copy-body section-copy-body-{{@key}}">{{this}}</p>
            {{/each}}
        </div>
    </section>
