<nav class="work-nav-container">

    <div class="work-nav work-nav-left">
        <a class="work-nav-link work-nav-link-left" href="/{{leftNav.slug}}.html">
        <figure class="work-nav-figure work-nav-figure-left ">
            {{imagelink leftNav.thumbnail}}
            <figcaption class="work-nav-caption work-nav-caption-left">
                <h5 class="work-nav-title work-nav-title-left">{{leftNav.title}}</h5>
                <h6 class="work-nav-subtitle ork-nav-subtitle-left">{{leftNav.subtitle}}</h6>
            </figcaption>
        </figure>
        </a>
    </div>

    <div class="work-nav work-nav-right">
        <a class="work-nav-link work-nav-link-right" href="/{{rightNav.slug}}.html">
        <figure class="work-nav-figure work-nav-figure-right">
            {{imagelink rightNav.thumbnail}}
            <figcaption class="work-nav-caption work-nav-caption-right">
                <h5 class="work-nav-title work-nav-title-right">{{rightNav.title}}</h5>
                <h6 class="work-nav-subtitle work-nav-subtitle-right">{{rightNav.subtitle}}</h6>
            </figcaption>
        </figure>
        </a>
    </div>

</nav>